<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">LSGallery</lang>
    </name>
    <author>
        <lang name="default">Web studio stfalcon.com</lang>
    </author>
    <homepage>http://stfalcon.com</homepage>
    <version>0.6.2</version>
    <requires>
        <livestreet>1.0</livestreet>
    </requires>
    <description>
        <lang name="default">Allow to create galleries for user</lang>
        <lang name="russian">Предназначен для создания фотоальбомов пользователей</lang>
        <lang name="ukrainian">Призначений для створення фотоальбомів користувачів</lang>
    </description>
</plugin>
